.table {
    position: relative;
    bottom: 100px;
    margin: 0px 120px;
}
.sofa {
    height: 700px;
    /* width: 540px; */
    position: relative;
    bottom: 380px;
    margin: 0px 0px 0px 50px;
}

.coffee {
    font-size: 50px;
}

@media screen and (max-width: 900px) {
    .sofa {
        height: 500px;
        width: 345px;
        position: relative;
        bottom: 5px;
        margin: 0px 0px 0px 0px;
    }
    .table {
        position: relative;
        top: 100px;
        margin: 0px 0px;
    }
    br {
        display: none;
    }
}