.furniture {
    font-size: 80px;
    margin: 0px 0px 0px 100px;
}

.future {
    margin: 0px 0px 0px 100px;
}

.search {
  padding: 13px 70px 10px 20px;
}

.img_size {
    height: 520px; 
    width: 255px;
}

@media screen and (min-width: 360px) and (max-width: 900px) {
    .furniture {
        font-size: 50px;
        margin: 0px 100px 0px 0px;
    }
    .future {
        margin: 0px 10px 0px 0px;
    }

    .search {
        padding: 13px 35px 10px 10px;
      }
  .img_size {
    height: 300px; 
    width: 120px;
  }

}

