<div class="row pt-5 mt-3">
    <div class="col-md-5">
      <div class="mt-5 pt-5 ms-5 ps-5 furniture">
        <p class="fw-bold">Future <br>
          of furniture</p>
      </div>
      <div class="ms-5 ps-5 fw-light">
        <p>Frontend design involves creating the HTML, CSS, and <br> presentational JavaScript code that</p>
      </div>
      <form class="d-flex border-black ms-5 ps-5">
        <input class="text-white w-full px-5 bg-transparent focus-outline-none py-3" type="text" name="search"
          placeholder="Search your product here...">
        <button type="submit" class="bg-black text-white px-4 py-3">Search</button>
      </form>
    </div>
    <div class="col-md-7 d-flex pt-3">
      <div>
        <img src="../assets/image/1.jpg" style="height: 535px; width: 255px;" alt="furniture">
      </div>
      <div>
        <img src="../assets/image/2.jpg" style="height: 535px; width: 255px;" alt="furniture">
      </div>
      <div>
        <img src="../assets/image/3.jpg" style="height: 535px; width: 255px;" alt="furniture">
      </div>
    </div>
  </div>
