<div class="row pt-5 mt-3">
  <div class="col-md-5">
    <div class="mt-5 pt-5 furniture">
      <p class="fw-bold">Future <br>
        of furniture</p>
    </div>
    <div class="fw-light future">
      <p>Frontend design involves creating the HTML, CSS, and presentational JavaScript code that</p>
    </div>
    <form class="d-flex border-black future mb-5">
      <input class="text-white w-full bg-transparent focus-outline-none search" type="text" name="search"
        placeholder="Search your product here...">
      <button type="submit" class="bg-black text-white search">Search</button>
    </form>
  </div>
  <div class="col-md-7 d-flex pt-2">
    <div>
      <img class="img_size" src="../assets/image/1.jpg" alt="furniture">
    </div>
    <div>
      <img class="img_size" src="../assets/image/2.jpg" alt="furniture">
    </div>
    <div>
      <img class="img_size" src="../assets/image/3.jpg" alt="furniture">
    </div>
  </div>
</div>