<div class="row bg-black">
    <div class="col-md-3 mt-5 pt-3 mb-5">
      <div class="ms-5 ps-3">
        <div>
          <h4 class="text-primary">Mahadi <span class="text-danger">Dev7 </span></h4>
        </div>
        <div>
          <p class="text-white">
            625 E Franklin Ave, Minneapolis, <br>
            MN 55404, USA
          </p>
          <div>
            <p class="text-white mt-5">
              @ 2021 <a class="# text-white">Mahadidev7. </a>All rights <br> reserved.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 mt-5 pt-3 mb-5">
      <div class="text-white">
        <h4>About us</h4>
        <p>Our Story</p>
        <p>Designer</p>
        <p>Craftsmanship</p>
        <p>Sustainability</p>
      </div>
    </div>
    <div class="col-md-3 mt-5 pt-3 mb-5">
      <div class="text-white">
        <h4>Support</h4>
        <p>FAQ's</p>
        <p>Shipping & Returns</p>
        <p>Care Guide</p>
        <p>Warranty</p>
      </div>
    </div>

    <div class="col-md-3 mt-5 pt-3 mb-5">
      <div class="">
        <h4 class="text-white">Contact us</h4>
        <i class="fa-solid fa-phone fs-4 pt-3 pe-3"></i>+91 9791760402
        <i class="fa-solid fa-envelope fs-4 pt-3 pe-3"></i>pandey83@gmail.com
        <div class="d-flex pt-5">
          <i class="fa-brands fa-facebook-f fs-4 text-white pe-4"></i>
          <i class="fa-brands fa-square-instagram fs-4 pe-4"></i>
          <i class="fa-brands fa-twitter fs-4 text-white pe-4"></i>
        </div>
      </div>
    </div>
    <div class="text-center mb-5 fs-5">
      <p>Privacy Policy
        |
        Term Of Usw
        |
        California Code</p>
    </div>
  </div>
