<div class="row">
  <div class="col-md-6">
    <div>
      <img class="sofa" src="../assets/image/sofa image.png" alt="Sofa">
    </div>
  </div>
  <div class="col-md-6">
    <div class="table">
      <div>
        <p class="fw-bold coffee">The Coffee Table</p>
      </div>
      <div>
        <p class="fw-light">
          orem ipsum dolor sit amet consectetur adipiscing elit urna gravida
          <br>interdum natoque, nec orci himenaeos aliquam eleifend senectus
          <br>feugiat placerat fringilla et, nam felis porttitor egestas aptent augue sed
          <br>arcu mi ligula. Ultricies sed congue fames dictum suscipit eros cum,
          <br> tellus primis phasellus blandit vitae litora, dapibus odio praesent
          <br>pellentesque convallis curabitur. Luctus suscipit nisi eu nec risus
          <br>rhoncus condimentum mus senectus felis ac pharetra, ulus vel libero
          <br>egestas curae cubilia integer rutrum
        </p>
      </div>
      <div>
        <button type="submit" class="bg-black text-white px-5 py-2">Shop Now</button>
      </div>
    </div>
  </div>
</div>