<div class="row bg-light">
  <div class="py-5 ps-5">
    <p class="fw-bold fs-1 ps-5">Words from our <br> customers</p>
  </div>
  <div class="col-md-3 pb-5 px-5 mx-5">
    <div class="card card_size">
      <div class="ms-5 mt-5">
        <p style="font-size:40px">😍</p>
      </div>
      <div class="card-body">
        <p class="card-text fs-5 fw-light">"Very intentional, thoughtful and beaitiful design. just
          the right amount of support and cozy!"</p>
      </div>
      <div class="d-flex ms-5 mt-3">
        <img src="../assets/image/logo furniture.png" class="rounded-circle circle-img" alt="Apple">
        <div class="ps-4 mb-5 pb-5">
          <h3>Nessi</h3>
          <p>Brooklyn, NY</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 pb-5 mx-5">
    <div class="card card_size">
      <div class="ms-5 mt-5">
        <p style="font-size:40px">😍</p>
      </div>
      <div class="card-body">
        <p class="card-text fs-5 fw-light">"Very intentional, thoughtful and beaitiful design. just
          the right amount of support and cozy!"</p>
      </div>
      <div class="d-flex ms-3 mt-3">
        <img src="../assets/image/logo furniture.png" class="rounded-circle circle-img" alt="Apple">
        <div class="ps-4 mb-5 pb-5">
          <h3>Nessi</h3>
          <p>Brooklyn, NY</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 pb-5 mx-3">
    <div class="card card_size">
      <div class="ms-5 mt-5">
        <p style="font-size:40px">😍</p>
      </div>
      <div class="card-body">
        <p class="card-text fs-5 fw-light">"Very intentional, thoughtful and beaitiful design. just
          the right amount of support and cozy!"</p>
      </div>
      <div class="d-flex ms-5 mt-3">
        <img src="../assets/image/logo furniture.png" class="rounded-circle circle-img" alt="Apple">
        <div class="ps-4 mb-5 pb-5">
          <h3>Nessi</h3>
          <p>Brooklyn, NY</p>
        </div>
      </div>
    </div>
  </div>
</div>