.newsletter { 
    width: 500px;
}

.join {
    margin: 80px 30px 0px 0px;
    text-align: center;
    font-size: 45px;

}

.btn {
    justify-content: center;
    align-items: center;

}
@media screen and (max-width: 900px) {
    .join {
        margin: 80px 30px 0px 0px;
        text-align: center;
        font-size: 35px;
    
    }
    .newsletter { 
        width: 245px;
    }
}