<div class="row pt-5 mt-5 ms-5 ps-5">
    <div class="text-center mt-5 pt-5">
      <p class="fs-1 fw-bold">Join our newsletter for $10 off</p>
    </div>
    <div>
      <p class="fw-light text-center">
        Lorem ipsum dolor sit amet consectetur adipiscing elit pharetra tristique, ridiculus vel <br>
        habitant cras ligula aenean euismod est erat, ac mi duis venenatis et nascetur vivamus <br>
        vestibulum.
      </p>
    </div>
    <form class="d-flex border-black btn mb-5 pb-5">
      <input class="text-white w-full px-5 bg-transparent focus-outline-none py-3 newsletter" type="text" name="seearch"
        placeholder="Enter email...">
      <button type="submit" class="bg-black text-white px-4 py-3">Search</button>
    </form>
  </div>
