<nav class="navbar navbar-expand-lg navbar-light pt-4 ">
  <a class="navbar-brand ps-5 ms-5" href="#">Furniture</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-5 ps-5">
      <li class="nav-item ps-5 ms-5 fs-6">
        <a class="nav-link active ps-5 ms-5" aria-current="page" href="#">Home</a>
      </li>
      <li class="nav-item fs-6">
        <a class="nav-link active ps-5" href="#">Products</a>
      </li>
      <li class="nav-item fs-6">
        <a class="nav-link active ps-5" href="#">Collection</a>
      </li>
    </ul>
    <form class="d-flex me-5">
      <i class="fa-solid fa-truck-droplet fs-5 pe-4"></i>
      <i class="fa-regular fa-user fs-5 pe-5"></i>
    </form>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-5">
      <div class="mt-5 pt-5 ms-5 ps-5 furniture">
        <p class="fw-bold">Future <br>
          of furniture</p>
      </div>
      <div class="ms-5 ps-5 fw-light">
        <p>Frontend design involves creating the HTML, CSS, and <br> presentational JavaScript code that</p>
      </div>
      <!-- <div class="d-flex ms-5 ps-5">
        <input class="py-2 border-dark" style="width: 320px;" type="search" placeholder="Search your product here..."
          aria-label="Search">
          <button type="button" class="btn btn-dark ">Secondary</button>
      </div> -->
      <!-- <form class="ms-5 ps-5 fw-light">
        <input class="px-5 bg-transparent focus:outline-none py-3 pe-5 " type="text" name="seearch"
          placeholder="Search your product here...">
        <button type="submit" class="bg-black py-3 pe-5 text-white">Search</button>
      </form> -->

      <form class="d-flex border-black ms-5 ps-5">
        <input class="text-white w-full px-5 bg-transparent focus-outline-none py-3" type="text" name="seearch"
          placeholder="Search your product here...">
        <button type="submit" class="bg-black text-white px-4 py-3">Search</button>
      </form>
    </div>
    <div class="col-md-7 d-flex pt-3">
      <div>
        <img src="../assets/image/home-furniture-banner.jpg" style="height: 535px; width: 255px;" alt="furniture">
      </div>
      <div>
        <img src="../assets/image/furniture.jpg" style="height: 535px; width: 255px;" alt="furniture">
      </div>
      <div>
        <img src="../assets/image/furniture1.jpg" style="height: 535px; width: 255px;" alt="furniture">
      </div>
    </div>
  </div>
  <div class="row ps-5 ms-5">
    <div class="col-md-4 pt-5 mt-5">
      <div class="d-flex ps-5 ms-5 align-items-center">
        <img src="../assets/image/wood.png" class="rounded-circle circle-img" alt="Apple">
        <div class="ms-5">
          <h4>Fast & Free <br> Shipping</h4>
          <p class="fw-light">Every Single order ships
            <br> for free NO minimums,
            <br> no tiers, no fine print
            <br> whatsoever
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 pt-5 mt-5">
      <div class="d-flex  align-items-center">
        <img src="../assets/image/wood.png" class="rounded-circle circle-img" alt="Apple">
        <div class="ms-5">
          <h4>Modular, easy-to- <br> move design</h4>
          <p class="fw-light">Every Single order ships
            <br> for free NO minimums,
            <br> no tiers, no fine print
            <br> whatsoever
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 pt-5 mt-5">
      <div class="d-flex align-items-center">
        <img src="../assets/image/wood.png" class="rounded-circle circle-img" alt="Apple">
        <div class="ms-5">
          <h4>Durable, premium <br> materials</h4>
          <p class="fw-light">Every Single order ships
            <br> for free NO minimums,
            <br> no tiers, no fine print
            <br> whatsoever
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row px-5">
    <div class="col-md-6">
      <div>
        <img src="../assets/image/sofa image.png" style="height: 700px;" alt="Sofa">
      </div>
    </div>
    <div class="col-md-6">
      <div class="table">
        <div>
          <p class="fw-bold fs-1">The Coffee Table</p>
        </div>
        <div>
          <p class="fw-light">
            orem ipsum dolor sit amet consectetur adipiscing elit urna gravida
            <br>interdum natoque, nec orci himenaeos aliquam eleifend senectus
            <br>feugiat placerat fringilla et, nam felis porttitor egestas aptent augue sed
            <br>arcu mi ligula. Ultricies sed congue fames dictum suscipit eros cum,
            <br> tellus primis phasellus blandit vitae litora, dapibus odio praesent
            <br>pellentesque convallis curabitur. Luctus suscipit nisi eu nec risus
            <br>rhoncus condimentum mus senectus felis ac pharetra, ulus vel libero
            <br>egestas curae cubilia integer rutrum
          </p>
        </div>
        <div>
          <button type="submit" class="bg-black text-white px-5 py-2">Shop Now</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row ps-5 ms-5">
    <div class="col-md-6">
      <div class="table">
        <div>
          <p class="fw-bold fs-1">The Coffee Table</p>
        </div>
        <div>
          <p class="fw-light">
            orem ipsum dolor sit amet consectetur adipiscing elit urna gravida
            <br>interdum natoque, nec orci himenaeos aliquam eleifend senectus
            <br>feugiat placerat fringilla et, nam felis porttitor egestas aptent augue sed
            <br>arcu mi ligula. Ultricies sed congue fames dictum suscipit eros cum,
            <br> tellus primis phasellus blandit vitae litora, dapibus odio praesent
            <br>pellentesque convallis curabitur. Luctus suscipit nisi eu nec risus
            <br>rhoncus condimentum mus senectus felis ac pharetra, ulus vel libero
            <br>egestas curae cubilia integer rutrum
          </p>
        </div>
        <div>
          <button type="submit" class="bg-black text-white px-5 py-2">Shop Now</button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div>
        <img src="../assets/image/sofa image.png" style="height: 700px;" alt="Sofa">
      </div>
    </div>
  </div>
  <div class="row px-5 mb-5">
    <div class="col-md-3 px-5">
      <div class="card">
        <div>
          <img src="../assets/image/1.jpg" class="card-img-top" alt="furniture">
        </div>
        <div class="card-body">
          <div>
            <p class="card-title fw-light">liddy</p>
          </div>
          <div>
            <h5 class="card-text">Accent Chair</h5>
          </div>
          <div class="pt-3 d-flex">
            <p class="fw-light pe-5 me-5">$25999</p>
            <i class="fa-solid fa-yin-yang fs-3 ms-3" style="color:brown;"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 px-5">
      <div class="card">
        <div>
          <img src="../assets/image/1.jpg" class="card-img-top" alt="furniture">
        </div>
        <div class="card-body">
          <div>
            <p class="card-title fw-light">liddy</p>
          </div>
          <div>
            <h5 class="card-text">Accent Chair</h5>
          </div>
          <div class="pt-3 d-flex">
            <p class="fw-light pe-5 me-5">$25999</p>
            <i class="fa-solid fa-yin-yang fs-3 ms-3" style="color:brown;"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 px-5">
      <div class="card">
        <div>
          <img src="../assets/image/1.jpg" class="card-img-top" alt="furniture">
        </div>
        <div class="card-body">
          <div>
            <p class="card-title fw-light">liddy</p>
          </div>
          <div>
            <h5 class="card-text">Accent Chair</h5>
          </div>
          <div class="pt-3 d-flex">
            <p class="fw-light pe-5 me-5">$25999</p>
            <i class="fa-solid fa-yin-yang fs-3 ms-3" style="color:brown;"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 px-5">
      <div class="card">
        <div>
          <img src="../assets/image/1.jpg" class="card-img-top" alt="furniture">
        </div>
        <div class="card-body">
          <div>
            <p class="card-title fw-light">liddy</p>
          </div>
          <div>
            <h5 class="card-text">Accent Chair</h5>
          </div>
          <div class="pt-3 d-flex">
            <p class="fw-light pe-5 me-5">$25999</p>
            <i class="fa-solid fa-yin-yang fs-3 ms-3" style="color:brown;"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row ps-5 pe-5">
    <div class="col-md-3 px-5">
      <div class="card">
        <div>
          <img src="../assets/image/1.jpg" class="card-img-top" alt="furniture">
        </div>
        <div class="card-body">
          <div>
            <p class="card-title fw-light">liddy</p>
          </div>
          <div>
            <h5 class="card-text">Accent Chair</h5>
          </div>
          <div class="pt-3 d-flex">
            <p class="fw-light pe-5 me-5">$25999</p>
            <i class="fa-solid fa-yin-yang fs-3 ms-3" style="color:brown;"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 px-5">
      <div class="card">
        <div>
          <img src="../assets/image/1.jpg" class="card-img-top" alt="furniture">
        </div>
        <div class="card-body">
          <div>
            <p class="card-title fw-light">liddy</p>
          </div>
          <div>
            <h5 class="card-text">Accent Chair</h5>
          </div>
          <div class="pt-3 d-flex">
            <p class="fw-light pe-5 me-5">$25999</p>
            <i class="fa-solid fa-yin-yang fs-3 ms-3" style="color:brown;"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 px-5">
      <div class="card">
        <div>
          <img src="../assets/image/1.jpg" class="card-img-top" alt="furniture">
        </div>
        <div class="card-body">
          <div>
            <p class="card-title fw-light">liddy</p>
          </div>
          <div>
            <h5 class="card-text">Accent Chair</h5>
          </div>
          <div class="pt-3 d-flex">
            <p class="fw-light pe-5 me-5">$25999</p>
            <i class="fa-solid fa-yin-yang fs-3 ms-3" style="color:brown;"></i>
          </div>
        </div>
      </div>
    </div>
     <div class="col-md-3 px-5">
      <div class="card">
        <div>
          <img src="../assets/image/1.jpg" class="card-img-top" alt="furniture">
        </div>
        <div class="card-body">
          <div>
            <p class="card-title fw-light">liddy</p>
          </div>
          <div>
            <h5 class="card-text">Accent Chair</h5>
          </div>
          <div class="pt-3 d-flex">
            <p class="fw-light pe-5 me-5">$25999</p>
            <i class="fa-solid fa-yin-yang fs-3 ms-3" style="color:brown;"></i>
          </div>
        </div>
      </div>
    </div>
</div>