.navbar {
    position: fixed;
}

.furniture {
    font-size: 80px;
}

.circle-img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #bbb;
    padding: 8px;
}
.table {
    margin-top: 250px;
}
.furniture_item{
    height: 170px;
}
.inspired {
    margin: 130px 180px;
    align-items: center;

}
.inspired1 {
  margin: -100px 0px 0px 700px;
}
