<router-outlet></router-outlet>
<!-- Navigation -->
<!-- <app-nav></app-nav> -->

<!-- Side_assets -->
<!-- <app-side-assets></app-side-assets> -->

<!-- <div class="container-fluid"> -->


  <!-- <app-demo></app-demo> -->
  <!-- <app-login-page></app-login-page> -->

  <!-- Future of furniture -->

  <!-- <app-future></app-future> -->

  <!-- Fast & free -->

  <!-- <app-fast-free></app-fast-free> -->

  <!-- Coffee Table -->

  <!-- <app-coffee-table></app-coffee-table> -->

  <!-- Table Coffee -->

  <!-- <app-table-coffee></app-table-coffee> -->

  <!-- Shop by Product -->

  <!-- <app-shop-product></app-shop-product> -->

  <!-- Discover the istercrior -->

  <!-- <app-discover></app-discover> -->

  <!-- Words from our customers  -->

  <!-- <app-words></app-words> -->

  <!-- Join our newsletter -->

  <!-- <app-newsletter></app-newsletter> -->

  <!-- footer -->

  <!-- <app-footer></app-footer> -->

<!-- </div> -->