<p class="ps-5 ms-5 pb-3 fs-1 fw-bold">Shop by Product</p>
<div class="row mb-5 px-5 mx-5">
  <div class="col-md-3">
    <div class="card">
      <div>
        <img src="../assets/image/1.jpg" class="card-img-top furniture_item" alt="furniture">
      </div>
      <div class="card-body">
        <div>
          <p class="card-title fw-light">liddy</p>
        </div>
        <div>
          <h5 class="card-text">Accent Chair</h5>
        </div>
        <div class="pt-3 d-flex">
          <p class="fw-light pe-5 me-5">$25999</p>
          <i class="fa-solid fa-yin-yang fs-3 ms-3" style="color:brown;"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <div>
        <img src="../assets/image/2.jpg" class="card-img-top furniture_item" alt="furniture">
      </div>
      <div class="card-body">
        <div>
          <p class="card-title fw-light">liddy</p>
        </div>
        <div>
          <h5 class="card-text">Albany Sectional</h5>
        </div>
        <div class="pt-3 d-flex">
          <p class="fw-light pe-5 me-5">$109999</p>
          <i class="fa-solid fa-yin-yang fs-3 ms-3" style="color:brown;"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <div>
        <img src="../assets/image/3.jpg" class="card-img-top furniture_item" alt="furniture">
      </div>
      <div class="card-body">
        <div>
          <p class="card-title fw-light">liddy</p>
        </div>
        <div>
          <h5 class="card-text">Albany Table</h5>
        </div>
        <div class="pt-3 d-flex">
          <p class="fw-light pe-5 me-5">$309999</p>
          <i class="fa-solid fa-yin-yang fs-3 ms-3" style="color:brown;"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <div>
        <img src="../assets/image/4.jpg" class="card-img-top furniture_item" alt="furniture">
      </div>
      <div class="card-body">
        <div>
          <p class="card-title fw-light">liddy</p>
        </div>
        <div>
          <h5 class="card-text">Armchair</h5>
        </div>
        <div class="pt-3 d-flex">
          <p class="fw-light pe-5 me-5">$12599</p>
          <i class="fa-solid fa-yin-yang fs-3 ms-3" style="color:brown;"></i>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row bg px-5 mx-5">
  <div class="col-md-3">
    <div class="card">
      <div>
        <img src="../assets/image/5.jpg" class="card-img-top furniture_item" alt="furniture">
      </div>
      <div class="card-body">
        <div>
          <p class="card-title fw-light">liddy</p>
        </div>
        <div>
          <h5 class="card-text">Baar Stool</h5>
        </div>
        <div class="pt-3 d-flex">
          <p class="fw-light pe-5 me-5">$25999</p>
          <i class="fa-solid fa-yin-yang fs-3 ms-3" style="color:brown;"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <div>
        <img src="../assets/image/6.jpg" class="card-img-top furniture_item" alt="furniture">
      </div>
      <div class="card-body">
        <div>
          <p class="card-title fw-light">Ikea</p>
        </div>
        <div>
          <h5 class="card-text">Dinning Table</h5>
        </div>
        <div class="pt-3 d-flex">
          <p class="fw-light pe-5 me-5">$42999</p>
          <i class="fa-solid fa-yin-yang fs-3 ms-3" style="color:brown;"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 ">
    <div class="card">
      <div>
        <img src="../assets/image/7.jpg" class="card-img-top furniture_item" alt="furniture">
      </div>
      <div class="card-body">
        <div>
          <p class="card-title fw-light">lkea</p>
        </div>
        <div>
          <h5 class="card-text">Emperor Bed</h5>
        </div>
        <div class="pt-3 d-flex">
          <p class="fw-light pe-5 me-5">$25999</p>
          <i class="fa-solid fa-yin-yang fs-3 ms-3" style="color:brown;"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <div>
        <img src="../assets/image/8.jpg" class="card-img-top furniture_item" alt="furniture">
      </div>
      <div class="card-body">
        <div>
          <p class="card-title fw-light">Ikea</p>
        </div>
        <div>
          <h5 class="card-text">Enterainment Center</h5>
        </div>
        <div class="pt-3 d-flex">
          <p class="fw-light pe-5 me-5">$59999</p>
          <i class="fa-solid fa-yin-yang fs-3 ms-3" style="color:brown;"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-5 pb-5 text-center">
    <button type="submit" class="bg-black text-white px-5 py-2">Load More</button>
  </div>
</div>
