<div class="row">
  <div class="col-md-4 pt-5 mt-5">
    <div class="mt-5 pt-5 ms-5 ps-5">
      <img src="../assets/image/furniture.jpg" style="height: 300px; width: 500px;" alt="funiture">
    </div>
  </div>
  <div class="col-md-4 inspired">
    <div>
      <h2>
        Discover the istercrior <br>
        design of your dreams
      </h2>
    </div>
    <div>
      <p class="fw-light">Lorem ipsum dolor sit amet consectetur adipiscing elit, nam dui
        tincidunt nunc nisl porttitor sem mauris, faucibus duis metus aliquam
        erat per. Sollicitudin convallis dignissim vehicula nunc augue scelerisque
        varius felis,</p>
    </div>
    <div class="mt-3">
      <button type="submit" class="bg-black text-white px-5 py-2">Get Inspired</button>
    </div>
  </div>
  <div class="col-md-4 inspired1 pb-5">
    <div>
      <img src="../assets/image/furniture1.jpg" style="height: 200px; width: 400px;" alt="furniture">
    </div>
  </div>
</div>