<div class="row">
  <div class="col-md-4 pt-5 mt-5">
    <div>
      <img class="img" src="../assets/image/furniture.jpg" alt="funiture">
    </div>
  </div>
  <div class="col-md-4 inspired">
    <div>
      <p class="discover">
        Discover the istercrior
        design of your dreams
      </p>
    </div>
    <div>
      <p class="fw-light">Lorem ipsum dolor sit amet consectetur adipiscing elit, nam dui
        tincidunt nunc nisl porttitor sem mauris, faucibus duis metus aliquam
        erat per. Sollicitudin convallis dignissim vehicula nunc augue scelerisque
        varius felis,</p>
    </div>
    <div class="mt-3">
      <button type="submit" class="bg-black text-white px-5 py-2">Get Inspired</button>
    </div>
  </div>
  <div class="col-md-4 pb-5">
    <div>
      <img class="inspired1" src="../assets/image/furniture1.jpg" alt="furniture">
    </div>
  </div>
</div>