<nav class="navbar navbar-expand-lg navbar-light bg-light pt-4 ">
  <a class="navbar-brand" href="#">Furniture</a>
   <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
   aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <div class="navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item fs-6">
        <a class="nav-link active" href="#">Home</a>
      </li>
      <li class="nav-item fs-6">
        <a class="nav-link active" href="#">Products</a>
      </li>
      <li class="nav-item fs-6">
        <a class="nav-link active" href="#">Collection</a>
      </li>
    </ul>
  </div>
  <form class="d-flex me-5">
    <i class="fa-solid fa-truck-droplet fs-5 pe-4"></i>
    <i class="fa-regular fa-user fs-5 pe-5"></i>
  </form>
</nav>