.navbar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

/* Or more simply this could work: */

.navbar {
  flex-direction: row;
  position: fixed;
}

.navbar-brand {
  margin: 0px 0px 0px 100px;
}

.navbar-collapse {
  margin: 0px 0px 0px 400px;
  font-size: 20px;
}

@media screen and (min-width: 360px) and (max-width: 900px) {
  .navbar {
    flex-direction: row;
    position: sticky;
    width: 100vw;
    z-index: 1;
  }
  .navbar {
    position: fixed;
  }
  .navbar-brand{
    margin: 0px 0px 0px 20px;
  }

  .navbar-toggler {
    font-size: 20px;
  }

  ul {
    justify-content: center;
    align-items: center;
  }

  form {
    margin: 0px 0px 0px 250px;
    position: fixed;
  }
}