.navbar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

/* Or more simply this could work: */

 .navbar {
  flex-direction: row;
  position: fixed;
}

ul {
  margin: 0px 0px 0px 360px;
}
.icon {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  left: 85%;
}

@media screen and (max-width: 900px) {
  .navbar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1;
  }
  
  /* Or more simply this could work: */
  
   .navbar {
    flex-direction: row;
    position: fixed;
  }

  ul {
    margin: 0px 36px 0px 0px;
  }
  .icon {
    display: flex;
    flex-wrap: wrap;
    position: sticky;
    left: 60%;
  }
  
}