<nav class="navbar navbar-expand-lg navbar-light bg-light pt-4 ">
    <a class="navbar-brand ps-5 ms-5" href="#">Furniture</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-5 ps-5">
        <li class="nav-item ps-5 ms-5 fs-6">
          <a class="nav-link active ps-5 ms-5" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item fs-6">
          <a class="nav-link active ps-5" href="#">Products</a>
        </li>
        <li class="nav-item fs-6">
          <a class="nav-link active ps-5" href="#">Collection</a>
        </li>
      </ul>
      <form class="d-flex me-5">
        <i class="fa-solid fa-truck-droplet fs-5 pe-4"></i>
        <i class="fa-regular fa-user fs-5 pe-5"></i>
      </form>
    </div>
  </nav>