<!-- <div class="container">
  <div class="card">
    <div class="card-body">
      <p class="text-center fs-2">Log in</p>
      <form>
        <div class="my-5">
          <p>Username</p>
          <hr class="line">
        </div>
        <div class="mb-3">
          <p>Password <i class="fa-regular fa-eye"></i></p>
          <hr class="line">
        </div>
        <div>
          <button type="submit" class="btn">Login</button>
        </div>
      </form>
      <hr class="ln">
      <p class="text-center mt-5">Don't have an account <a href="#">Sign up</a></p>
    </div>
  </div>
</div> -->


<div class="row login-container">
  <div class="card crd">
    <div class="card-body">
      <p class="text-center fs-2">Log in</p>
      <div class="input-data">
        <span>Username</span>
        <input type="email" user="required">
      </div>
      <div class="input-data">
        <span>Password</span>
        <input type="password" user="required">
        <i class="fa-regular fa-eye fs-6 icon"></i>
      </div>
      <button type="submit" class="">Login</button>
      <div class="sl">
        <p class="text-center my-5">Don't have an account <a href="#">Sign up</a></p>
      </div>
    </div>
  </div>
</div>