<!-- <div class="container">
  <div class="card">
    <div class="card-body">
      <p class="text-center fs-2">Log in</p>
      <form>
        <div class="my-5">
          <p>Username</p>
          <hr class="line">
        </div>
        <div class="mb-3">
          <p>Password <i class="fa-regular fa-eye"></i></p>
          <hr class="line">
        </div>
        <div>
          <button type="submit" class="btn">Login</button>
        </div>
      </form>
      <hr class="ln">
      <p class="text-center mt-5">Don't have an account <a href="#">Sign up</a></p>
    </div>
  </div>
</div> -->


<div class="row login-container">
  <form action="" class="login_card" method="post">
    <div class="card crd">
      <div class="">
        <p class="text-center fs-2">Log in</p>
        <div class="input-data">
          <input type="text" id="user" required/>
          <span for="user">Username</span>
        </div>
        <div class="input-data">
          <input type="password" id="password" required>
          <span class="password">Password</span>
          <i class="fa-regular fa-eye fs-6 icon"></i>
        </div>
        <div class="login_button">
        <button type="submit">Login</button>
      </div>
        <div class="sl">
          <p class="text-center my-4">Don't have an account <a href="#">Sign up</a></p>
        </div>
      </div>
    </div>
  </form>
</div>