 .login-container {
    background-image: url(../../../assets/image/image_processing20210318-17622-kgu2uz.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
    position: relative;
}

.crd {
    width: 420px;
    height: 450px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    --webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  
}
.crd .input-data input {
    width: 340px;
    height: 35px;
    background: transparent;
    border-bottom: 2px solid black;
    transition: 0.1s linear;
    outline: 0;
    border-top: none;
    border-right: none;
    border-left: none;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 20px;
    font-family: sans-serif;
}

.input-data {
  position: relative;
  margin-top: 5%;
  margin-bottom: 8%;
  display: flex;
  align-items: center;
}

.input-data input {
    width: 100%;
    color: black;
    font-size: 1em;
}

.icon {
  position: relative;
  right: 6%;
  margin: 25px 0px 0px 0px ;
}

.input-data span {
    position: absolute;
    left: 0;
    padding: 30px 0px 0px 0px;
    pointer-events: none;
    font-size: 1em;
    transition: 0.5s;
}

.sl {
    border-top: 2px solid #542269;
    width: 16vw;
    position: relative;
    left: 18%;
}

.sl a {
  color: #542269;
}

button[type="submit"] {
  background-color: transparent;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid;
  font-weight: bold;
  margin: 10px 0px 40px;
  color: #542269;
  position: relative;
  left: 33%;
}
button[type="submit"]:hover {
  color: #fff;
  background-color: #542269;
  border: 1px solid black;
}

  
  /* .crd .input-data input:focus ~ span,
  .crd .input-data input:valid ~ span {
    top: 0px;
    font-size: 10px;
    transform: translateX(10px) translateY(-7px);
  } */

/* .input-data input:valid ~ span,
.input-data input:focus ~ span
{
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    letter-spacing: 0.2em;
} */
