<div class="row">
  <div class="col-lg-4 col-12">
    <div class="circle fast">
      <img src="../assets/image/wood.png" class="circle-img" alt="Apple">
      <div class="circle-spacing">
        <h4>Fast & Free <br> Shipping</h4>
        <p class="fw-light">Every Single order ships
          <br> for free NO minimums,
          <br> no tiers, no fine print
          <br> whatsoever
        </p>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-12">
    <div class="circle fast">
      <img src="../assets/image/wood.png" class="circle-img" alt="Apple">
      <div class="circle-spacing">
        <h4>Modular, easy-to- <br> move design</h4>
        <p class="fw-light">Every Single order ships
          <br> for free NO minimums,
          <br> no tiers, no fine print
          <br> whatsoever
        </p>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-12">
    <div class="circle fast">
      <img src="../assets/image/wood.png" class="circle-img" alt="Apple">
      <div class="circle-spacing">
        <h4>Durable, premium <br> materials</h4>
        <p class="fw-light">Every Single order ships
          <br> for free NO minimums,
          <br> no tiers, no fine print
          <br> whatsoever
        </p>
      </div>
    </div>
  </div>
</div>